/*
Holds All the CSS for the Current Project
Duplicate CSS my be present

*Please Do Not Delete Duplicate Code*

Euan Gordon



To find styling for a component or page please search the page using CTRL+F
*/

/*====================================================================================================================================*/
/*CORE CSS*/
/*====================================================================================================================================*/

@font-face {
	font-family: "Harlow-solid";
	src: url("../src/assets/harlowsolidplain.otf");
}

body {
	background: #313131 !important;
	color: #fff;
}

.form-title {
	text-align: center;
	font-size: 3.2em;
	padding-bottom: 10px;
}

.h1-titles {
	font-size: 4em;
}

.display-2 {
	font-size: 4em !important;
}

.display-3 {
	font-size: 3.5em !important;
}

.display-4 {
	font-size: 3em !important;
}

.links {
	text-decoration: none !important;
	color: rgb(187, 187, 187);
}
.links:hover {
	color: #fff;
}

.links-top {
	color: #000;
	text-decoration: none !important;
}

.links-top:hover {
	color: #fff;
}

.advanced-links {
	font-size: 1.3em;
}

#empty {
	text-align: center;
	font-size: 1.3em;
}

@media screen and (max-width: 750px) {
	.h1-titles {
		font-size: 2.8em;
	}
	.links {
		color: #fff;
	}
}

/*====================================================================================================================================*/
/*Main Pages CSS*/
/*====================================================================================================================================*/

/*############################################################*/
/*Dashsboard CSS*/
/*############################################################*/

#rooms {
	margin-top: 35px;
	margin-bottom: 100px;
	margin-left: 5%;
	margin-right: 5%;
}

.flex-rooms {
	display: flex !important;
	flex-direction: row !important;
	flex-wrap: wrap !important;
	justify-content: center !important;
	align-items: center !important;
	padding-bottom: 20px;
}

.item {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

.bottom-show {
	display: none !important;
}

.additional {
	margin-top: 30px;
}

@media screen and (max-width: 1025px) {
	.text-area {
		margin-top: 50px;
	}
	#dash {
		margin-left: 0;
		margin-right: 0;
	}
	#rooms {
		margin-left: 0;
		margin-right: 0;
	}
	.item {
		margin: 0;
	}

	.flex-rooms {
		justify-content: space-evenly !important;
	}
}

/*############################################################*/
/*Room Page CSS*/
/*############################################################*/

.item {
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 10px;
}

.bottom-show {
	display: none !important;
}

@media screen and (max-width: 1025px) {
	#room {
		margin-left: 0%;
		margin-right: 0%;
	}
	.item {
		margin: 0;
	}
}

@media screen and (max-width: 580px) {
	.top-show {
		display: none !important;
	}
	.bottom-show {
		display: block !important;
	}
}

/*############################################################*/
/*Add Page CSS*/
/*############################################################*/

#Add {
	margin-top: 120px;
	margin-bottom: 80px;
}

.flex-cont {
	margin-top: 40px;
}

.flex-add {
	display: flex !important;
	flex-direction: column !important;
	justify-content: center !important;
	flex-wrap: wrap !important;
	align-items: center !important;
}

@media screen and (max-width: 1025px) {
	.flex-cont {
		margin-top: 20px;
	}
}

/*############################################################*/
/*Add Devices CSS*/
/*############################################################*/

#devices {
	margin-top: 150px;
}

@media screen and (max-width: 1025px) {
	#devices {
		margin-top: 80px;
		margin-bottom: 100px;
	}
}

/*############################################################*/
/*Add Rooms CSS*/
/*############################################################*/

#addRooms {
	margin-top: 170px;
}
#form {
	margin-top: 30px;
}

.room-img {
	width: 50%;
	padding: 10px;
}

.cont {
	margin-top: 2rem;
}

.form-rows {
	margin-top: 20px;
}

select,
.form-inputboxes {
	width: 100%;
	height: 3rem;
	border-bottom: 1px solid #b8b8b8;
	border-left: none;
	border-top: none;
	border-right: none;
	background-color: #313131 !important;
	color: #fff;
}

select:focus,
.form-inputboxes:focus {
	outline: none;
	background-color: #383838;
	border-bottom: 1px solid #198fca;
}

.form-buttons {
	width: 100%;
	height: 3rem;
	border-radius: 30px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3), 0 1px 8px rgba(0, 0, 0, 0.22) !important;
	border: none;
	outline: none;
	color: white;
	background-color: #198fca;
}

.form-buttons:focus {
	outline: none;
	box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.3), 0 1px 5px rgba(0, 0, 0, 0.22) !important;
}

.custom-cards-addRooms {
	width: 23rem;
	height: 28rem;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3), 0 1px 8px rgba(0, 0, 0, 0.22) !important;
	transition: 0.2s ease-in-out all !important;
}

.custom-cards-addRooms:hover {
	box-shadow: 0 12px 40px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22) !important;
}

@media screen and (max-width: 1025px) {
	#addRooms {
		margin-top: 120px;
	}
	.custom-cards-addRooms {
		width: 30%;
	}
}

@media screen and (max-width: 750px) {
	#addRooms {
		margin-top: 120px;
	}
	.custom-cards-addRooms {
		width: 40%;
	}
}

@media screen and (max-width: 550px) {
	#addRooms {
		margin-top: 80px;
	}
	.custom-cards-addRooms {
		width: 60%;
	}
}

@media screen and (max-width: 450px) {
	#addRooms {
		margin-top: 80px;
	}
	.custom-cards-addRooms {
		width: 80%;
	}
}

/*====================================================================================================================================*/
/*DEVICE CSS*/
/*====================================================================================================================================*/

/*############################################################*/
/*Add Device Metrics CSS*/
/*############################################################*/

#addDevice {
	margin-top: 140px;
}

#form-addDevice {
	margin-top: 40px;
}
.device-cont {
	margin-top: 0.5rem;
}

.label {
	font-size: 1.5rem;
}

.custom-cards-addDevices {
	width: 22rem;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3), 0 1px 8px rgba(0, 0, 0, 0.22) !important;
	transition: 0.2s ease-in-out all !important;
}

.custom-cards-addDevices:hover {
	box-shadow: 0 12px 40px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22) !important;
}

.text-wrapper {
	margin-top: 20px;
	margin-bottom: 30px;
}

.form-dropdown {
	width: 100%;
	border-left: none;
	border-top: none;
	border-right: none;
	border-bottom: solid 1px #b8b8b8;
	outline: none;
	height: 3rem;
}

.form-dropdown:focus {
	outline: none;
	border-bottom: solid 1px #198fca;
}

@media screen and (max-width: 1025px) {
	#addDevice {
		margin-top: 120px;
	}
	.custom-cards-addDevices {
		width: 35%;
	}
}

@media screen and (max-width: 812px) {
	#addDevice {
		margin-top: 120px;
	}
	.custom-cards-addDevices {
		width: 40%;
	}
}

@media screen and (max-width: 550px) {
	#addDevice {
		margin-top: 80px;
	}
	.custom-cards-addDevices {
		width: 60%;
	}
}

@media screen and (max-width: 450px) {
	.custom-cards-addDevices {
		width: 80%;
	}
}

/*############################################################*/
/*Edit Device Metrics CSS*/
/*############################################################*/

#editDevice {
	margin-top: 120px;
	margin-bottom: 100px;
}

#form-addDevice {
	margin-top: 40px;
}

.newRows {
	margin-top: 15%;
	margin-bottom: 10%;
}

.device-cont {
	margin-top: 0.5rem;
}

.label {
	font-size: 1.5rem;
}

.label-section {
	font-size: 1.7em;
	font-weight: 600;
}

.newRowSwitch {
	margin-top: 10%;
	margin-bottom: 5%;
}

.time-width {
	width: 40% !important;
	margin-left: 2%;
	margin-right: 2%;
}

.custom-cards-editDevices {
	width: 30%;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3), 0 1px 8px rgba(0, 0, 0, 0.22) !important;
	transition: 0.2s ease-in-out all !important;
}

.custom-cards-editDevices:hover {
	box-shadow: 0 12px 40px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22) !important;
}

.custom-cards-devicesDetails-schedule-edit {
	width: 30%;
	padding: 30px;
	border-radius: 20px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3), 0 1px 8px rgba(0, 0, 0, 0.22) !important;
	transition: 0.2s ease-in-out all !important;
}

.custom-cards-devicesDetails-schedule-edit:hover {
	box-shadow: 0 12px 40px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22) !important;
}

.text-wrapper {
	margin-top: 20px;
	margin-bottom: 30px;
}

.form-dropdown {
	width: 100%;
	border-left: none;
	border-top: none;
	border-right: none;
	border-bottom: solid 1px #b8b8b8;
	outline: none;
	height: 3rem;
}

.form-dropdown:focus {
	outline: none;
	border-bottom: solid 1px #198fca;
}

.img-delete {
	width: 20%;
	padding-left: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	opacity: 0.8;
}

.img-delete:hover {
	cursor: pointer;
	opacity: 1;
}

@media screen and (max-width: 1025px) {
	#editDevice {
		margin-top: 120px;
		margin-bottom: 100px;
	}
	.custom-cards-editDevices {
		width: 40%;
	}
	.custom-cards-devicesDetails-schedule-edit {
		width: 40%;
	}
	.img-delete {
		width: 30%;
	}
}

@media screen and (max-width: 750px) {
	.custom-cards-editDevices {
		width: 60%;
	}
	.custom-cards-devicesDetails-schedule-edit {
		width: 60%;
	}
}

@media screen and (max-width: 550px) {
	#editDevice {
		margin-top: 80px;
		margin-bottom: 100px;
	}
	.custom-cards-editDevices {
		width: 80%;
	}
	.custom-cards-devicesDetails-schedule-edit {
		width: 80%;
	}
}

/*############################################################*/
/*Edit Device name and room. Also delete*/
/*############################################################*/

.custom-cards-editDevices-adv {
	width: 23rem;
	height: 54rem;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3), 0 1px 8px rgba(0, 0, 0, 0.22) !important;
	transition: 0.2s ease-in-out all !important;
}

.custom-cards-editDevices-adv:hover {
	box-shadow: 0 12px 40px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22) !important;
}

.newRowSwitch-delete {
	margin-top: 20%;
	margin-bottom: 5%;
}

.form-buttons-delete {
	width: 100%;
	height: 3rem;
	border-radius: 30px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3), 0 1px 8px rgba(0, 0, 0, 0.22) !important;
	border: none;
	outline: none;
	color: white;
	background-color: #e30000;
}

@media screen and (max-width: 1025px) {
	.custom-cards-editDevices-adv {
		width: 80%;
	}
}

/*############################################################*/
/*Device Details CSS*/
/*############################################################*/

#deviceDetails {
	margin-top: 140px;
	margin-bottom: 100px;
}

.device-img-details {
	width: 50%;
	padding: 10px;
}

.device-img {
	width: 50%;
	padding: 10px;
}

.label {
	font-size: 1.5rem;
}

.item-deviceDetails {
	width: 30%;
	padding: 20px;
}

.scheduleItem:before {
	background-color: #198fca;
	width: 2px;
	content: "";
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 5px;
}

ul {
	list-style: none;
}

.scheduleItem::after {
	content: "";
	position: absolute;
	padding: 5px;
	background-color: #198fca;
	border-radius: 10px;
	left: 0;
	top: 5px;
	width: 12px;
	height: 12px;
}

.scheduleItem {
	position: relative;
	margin: 0;
	padding-bottom: 1em;
	padding-left: 20px;
}

.custom-cards-devicesDetails {
	width: 100%;
	min-height: 27rem;
	max-height: 38rem;
	padding: 30px;
	border-radius: 20px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3), 0 1px 8px rgba(0, 0, 0, 0.22) !important;

	transition: 0.2s ease-in-out all !important;
}

.custom-cards-devicesDetails:hover {
	box-shadow: 0 12px 40px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22) !important;
}

.custom-cards-devicesDetails-schedule {
	width: 100%;
	min-height: 27rem;
	max-height: 38rem;
	padding: 30px;
	border-radius: 20px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3), 0 1px 8px rgba(0, 0, 0, 0.22) !important;
	transition: 0.2s ease-in-out all !important;
}

.custom-cards-devicesDetails-schedule:hover {
	box-shadow: 0 12px 40px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22) !important;
}

.custom-cards-devicesDetails-graph {
	width: 70%;
	padding: 30px;
	border-radius: 20px;
	border: none;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3), 0 1px 8px rgba(0, 0, 0, 0.22) !important;
	transition: 0.2s ease-in-out all !important;
}

.custom-cards-devicesDetails-graph:hover {
	box-shadow: 0 12px 40px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22) !important;
}

.text-wrapper {
	margin-top: 20px;
	margin-bottom: 20px;
}

.flex-deviceDetails {
	display: flex !important;
	flex-direction: row !important;
	justify-content: center !important;
	flex-wrap: wrap !important;
	align-items: flex-start !important;
}

@media screen and (max-width: 1025px) {
	#deviceDetails {
		margin-top: 80px;
		margin-bottom: 100px;
	}
	.item-deviceDetails {
		width: 55%;
		margin: 0;
		padding: 20px;
	}
	.device-img {
		width: 50%;
	}

	.custom-cards-devicesDetails-graph {
		width: 100%;
	}
	.custom-cards-devicesDetails {
		padding: 40px;
	}
	.custom-cards-devicesDetails-schedule {
		padding: 40px;
	}
}

@media screen and (max-width: 680px) {
	.device-img {
		width: 60%;
	}
}

@media screen and (max-width: 550px) {
	.item-deviceDetails {
		width: 70%;
		margin: 0;
		padding: 20px;
	}
	.custom-cards-devicesDetails-graph {
		width: 100%;
	}
	.device-img {
		width: 40%;
	}
	.img-delete {
		width: 20%;
	}
	.custom-cards-devicesDetails {
		min-height: 0;
	}
	.custom-cards-devicesDetails-schedule {
		min-height: 0;
	}
}

@media screen and (max-width: 450px) {
	.item-deviceDetails {
		width: 100%;
		margin: 0;
		padding: 20px;
	}

	.custom-cards-devicesDetails-graph {
		padding: 10px;
	}
}

/*====================================================================================================================================*/
/*Sub-pages - LOGIN - REGISTER - CSS*/
/*====================================================================================================================================*/

/*############################################################*/
/*Login Template CSS*/
/*############################################################*/

#loginCard {
	margin-top: 120px;
	margin-left: 40%;
	margin-right: 40%;

	/* border: solid 1px #005872;*/
}

#err {
	text-align: center;
	color: #ff1e1e;
}

.flex-add {
	display: flex !important;
	flex-direction: column !important;
	justify-content: center !important;
	flex-wrap: wrap !important;
	align-items: center !important;
}

.form-inputboxes {
	width: 100%;
	height: 3rem;
	border-bottom: 1px solid #b8b8b8;
	border-left: none;
	border-top: none;
	border-right: none;
}

.form-inputboxes:focus {
	outline: none;
	background-color: white;
	border-bottom: 1px solid #198fca;
}

.form-buttons {
	width: 100%;
	height: 3rem;
	border-radius: 30px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3), 0 1px 8px rgba(0, 0, 0, 0.22) !important;
	border: none;
	outline: none;
	color: white;
	background-color: #198fca;
}

.form-buttons:focus {
	outline: none;
	box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.3), 0 1px 5px rgba(0, 0, 0, 0.22) !important;
}

.custom-cards-Login {
	width: 25rem;
	height: 34rem;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3), 0 1px 8px rgba(0, 0, 0, 0.22) !important;
	transition: 0.2s ease-in-out all !important;
}

.custom-cards-Login:hover {
	box-shadow: 0 12px 40px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22) !important;
}

.logo {
	font-family: "Harlow-solid";
	text-align: center;
	font-size: 2.8em;
	opacity: 1;
	color: #000;
	padding: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.logo-login {
	font-size: 3.2em;
}

.logo-back {
	background-color: #383838;
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3) !important;
}

.logo-top {
	font-family: "Harlow-solid";
	text-align: center;
	font-size: 2.8em;
	opacity: 1;
	color: #000;
	margin-top: 3px;
	padding: 5px;
}

.logo-top:hover {
	opacity: 1;
}
/* Responsive CSS Queries */

@media screen and (max-width: 1024px) {
	#loginCard {
		margin-top: 120px;
		margin-right: 10%;
		margin-left: 10%;
	}
	.custom-cards-Login {
		width: 20rem;
	}
}

@media screen and (max-width: 812px) {
	.labels {
		float: left !important;
	}
	.but {
		float: none;
	}
}

/*############################################################*/
/*Register Template CSS*/
/*############################################################*/

#register {
	margin-top: 80px;
}

.custom-cards-Register {
	width: 25rem;
	height: 58rem;
	padding: 20px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3), 0 1px 8px rgba(0, 0, 0, 0.22) !important;
	transition: 0.2s ease-in-out all !important;
}

.custom-cards-Register:hover {
	box-shadow: 0 12px 40px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22) !important;
}

@media screen and (max-width: 1024px) {
	#register {
		margin-top: 70px;
	}
	.custom-cards-Register {
		width: 20rem;
	}
}

@media screen and (max-width: 812px) {
	.labels {
		float: left !important;
	}

	.but {
		float: none;
	}
}

/*====================================================================================================================================*/
/*Page Components - NAVBARS - ROOM,DEVICE,SUMMARY CARDS CSS*/
/*====================================================================================================================================*/

/*############################################################*/
/*Summary Component CSS*/
/*############################################################*/

#stat-cards {
	padding-top: 80px;
	padding-bottom: 10px;
}

.img-summary {
	padding: 10px;
	width: 35%;
	text-align: center;
}

.img-cont-summary {
	text-align: center;
}

.col-width {
	width: 25%;
}

.slide {
	transition: all ease-in-out 1s;
}

.flex-b {
	display: flex !important;
	flex-direction: row !important;
	flex-wrap: wrap !important;
	justify-content: space-evenly !important;
	align-items: flex-start !important;
	padding-bottom: 25px;
}

.flex-b-rooms {
	display: flex !important;
	flex-direction: row !important;
	flex-wrap: wrap !important;
	justify-content: center !important;
	align-items: center !important;
	padding-bottom: 15px;
}

.stats {
	margin-top: 50px;
}

.sub-title-wrapper {
	margin-bottom: 30px;
}

.custom-cards {
	width: 28rem;
	height: 20rem;
	padding: 1px;
	margin: 5px;
	border-radius: 20px;

	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3), 0 1px 8px rgba(0, 0, 0, 0.22) !important;
	transition: 0.2s ease-in-out all !important;
}

.custom-cards:hover {
	box-shadow: 0 12px 40px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22) !important;
}

@media screen and (max-width: 1025px) {
	#stat-cards {
		padding-top: 80px;
		padding-bottom: 20px;
	}
	.display-2 {
		font-size: 3em !important;
	}
	.display-3 {
		font-size: 2.6em !important;
	}
	.custom-cards {
		width: 21rem;
		height: 18rem;
		margin: 1px;
	}
	.flex-b {
		justify-content: space-evenly !important;
	}
	.col-width {
		width: 40%;
		margin: 3%;
	}
	.img {
		width: 100%;
	}
	.img-summary {
		width: 25%;
	}
}

@media screen and (max-width: 768px) {
	#stat-cards {
		padding-top: 50px;
		padding-bottom: 20px;
	}
	.img-summary {
		width: 35%;
	}
}

@media screen and (max-width: 450px) {
	.img-summary {
		width: 60%;
	}
}

/*############################################################*/
/*NAVBARS - TOP Component CSS*/
/*############################################################*/

.logo-small-top {
	font-family: "Harlow-solid";
	font-size: 2.2em;
	padding-top: 2%;
	margin: 0;
}

.nav-item {
	padding: 0px;
}

.navbar-top {
	padding: 10px !important;
	background-color: #383838 !important;
	border: none;
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
	box-shadow: 0 0px 7px rgba(0, 0, 0, 0.3) !important;
}

.nav-image {
	width: 35%;
}

.flex-nav {
	display: flex !important;
	flex-direction: row !important;
	flex-wrap: wrap !important;
	flex-flow: row wrap !important;
	justify-content: space-evenly !important;
}

.navbar-bottom {
	padding: 10px !important;
	background-color: #383838 !important;
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3) !important;
}

.nav-image-bottom {
	width: 70%;
}

.image-cont-nav-top {
	width: 10%;
	text-align: center;
	padding: 20px;
	opacity: 1;
	border-radius: 10px;
	background: #383838;
}

.image-cont-nav-top:hover {
	background-color: #313131;
	opacity: 1;
	cursor: pointer;
}

.image-cont-nav-bottom {
	width: 20%;
	text-align: center;
	padding: 20px;
	opacity: 1;
	border-radius: 10px;
	background: #383838;
	box-shadow: 6px 6px 12px #2d2d2d, -6px -6px 12px #434343;
}

@media screen and (max-width: 1025px) {
	.image-cont-nav-top {
		width: 13%;
	}
	.flex-nav {
		justify-content: space-between !important;
	}
}

@media screen and (max-width: 812px) {
	.nav-image {
		width: 70%;
	}
}

/*############################################################*/
/*CARDS - addDeviceCard Component CSS*/
/*############################################################*/

.img-cont {
	text-align: center;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

.custom-cards-devices {
	width: 10rem;
	max-height: 20rem;
	padding: 5px;
	border-radius: 20px;
	border: none;
	transition: 0.2s ease-in-out all !important;
}

.custom-cards-devices:hover {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3), 0 1px 8px rgba(0, 0, 0, 0.22) !important;
	cursor: pointer !important;
}

@media screen and (max-width: 1025px) {
	.custom-cards-devices {
		width: 10rem;
	}
}

/*############################################################*/
/*CARDS - allDevices Component CSS*/
/*############################################################*/

.img-menu {
	opacity: 0.4 !important;
	padding: 10px;
}

.img-cont-menu {
	text-align: center;
}

.custom-cards-menu {
	width: 10rem;
	max-height: 12rem;
	padding: 10px;
	border-radius: 20px;

	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3), 0 1px 8px rgba(0, 0, 0, 0.22) !important;
	transition: 0.2s ease-in-out all !important;
}

.custom-cards-menu:hover {
	box-shadow: 0 12px 40px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22) !important;
	cursor: pointer !important;
}

@media screen and (max-width: 1025px) {
	.custom-cards-menu {
		width: 10rem;
	}
}

/*############################################################*/
/*CARDS - deviceCard Component CSS*/
/*############################################################*/

.img-cont {
	text-align: center;
	padding-top: 2px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
}

.custom-cards-devices:hover {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3), 0 1px 8px rgba(0, 0, 0, 0.22) !important;
	cursor: pointer !important;
}

@media screen and (max-width: 1025px) {
	.custom-cards-devices {
		width: 10rem;
	}
}

/*############################################################*/
/*CARDS - roomTemplate (room cards on dash) Component CSS*/
/*############################################################*/

.card-img-top {
	width: 60%;
}

.card {
	margin: 10px;
	background-color: transparent;
	user-select: none !important;
	border-color: none !important;
}

.custom-cards-rooms {
	border: none;
	width: 10rem;
	max-height: 12rem;
	padding: 5px;

	border-radius: 20px;

	/*
  background: #ffffff;
  box-shadow: 12px 12px 34px #cfcfcf, -12px -12px 34px #ffffff;
  */
	transition: 0.2s ease-in-out all !important;
}

.custom-cards-rooms:hover {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3), 0 1px 8px rgba(0, 0, 0, 0.22) !important;
	/*border-radius: 20px;
  background: #ffffff;
  box-shadow: inset 5px 5px 28px #d6d6d6, inset -5px -5px 28px #ffffff;
  */
	cursor: pointer !important;
}

@media screen and (max-width: 1025px) {
	.custom-cards-rooms {
		width: 10rem;
	}
	.card-img-top {
		width: 60%;
	}
	.card {
		margin-left: 2%;
		margin-bottom: 10%;
		margin-right: 2%;
	}
}
